<!doctype html>
<% include bar %>

	<form method = "post"> 
		<span>用户名:</span><input type="text" name="name" /><br>
		<span>密码:</span><input type="password" name="password" /><br>		
		<input type="submit" value="提交"  class="submit"/>
	</form>
	
<% include footer %>