<!doctype html>
<% include bar %>
	<form method = "post"> 
		<span>用户名:</span><input type="text" name="name" /><br>
		<span>密码:</span><input type="password" name="password" /><br>
		<span>确认密码:</span><input type="password" name="password-repeat" /><br>
		<span>邮箱:</span><input type="text" name="email" /><br>		
		<input type="submit" value="提交"  class="submit"/>
	</form>
<% include footer %>